<p id="notice"><%= notice %></p>

<p>
  <strong>Rno:</strong>
  <%= @student.rno %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Marks:</strong>
  <%= @student.marks %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
